services:
    api-gateway: 
        image: "${DOCKER_USERNAME}/api-gateway:latest"
        ports:
            - "8090:8090"
        networks:
        - docker-ms:
            aliases:
              - api-gateway
        deploy:
            replicas: 1
            restart_policy:
            condition: on-failure

networks:
  docker-ms:
    external: true