services:
    api-gateway: 
        image: "${DOCKER_USERNAME}/docker-microservices:api-gateway"
        container_name: api-gateway
        ports:
            - "8090:8090"
        restart: always 